/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-wrap: wrap;
  font-size: 100%;
  /* word-wrap: break-word; */
}

/* DECLARAÇÃO DE VARIÁVEIS - FACILITA NA HORA DE CHAMAR AS CORES */
:root {
  /* paleta de cores complementar*/
  --color01: #308eb0;
  --color02: #78dbff;
  --color03: #5dd2fc;
  --color04: #b38d63;
  --color05: #fd8300;
  --back-color: aliceblue;
}

/* DEFININDO O BODY COMO DISPLAY GRID, NA PÁGINA INDEX TEM TRÊS LINHAS E UMA COLUNA */
body {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 100vw;
  grid-template-rows: 15vh auto auto;
}

/* CADA CLASSE COM SUA RESPECTATIVA GRID-AREA, DEFININDO TAMBÉM COR DE FUNDO E BORDA */
.header {
  grid-area: header;
  background-color: var(--color03);
  border-bottom: 1px solid var(--color05);
}

.main {
  grid-area: main;
  background-color: var(--back-color);
}

/* PROPRIEDADE COLOR DEFINE A COR DO TEXTO */
.footer {
  grid-area: footer;
  background-color: var(--color03);
  color: var(--color04);
  border-bottom: 1px solid var(--color05);
}

/* TAG NAV CLASSIFICADA COMO CONTAINER PARA POSSIBILITAR A CHAMADA DO DISPLAY FLEX NO MENU*/
.nav.container {
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: center;
}

/* ESTILIZAÇÕES DOS ITENS DO MENU QUE TEM ESCRITA */
.nav-item.menu {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color05);
  background-color: var(--back-color);
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
}

/* SELETOR PARA MUDAR A ESTILIZAÇÃO QUANDO O MOUSE PASSA POR CIMA */
.nav-item.menu:hover {
  text-decoration: underline;
  /* font-size: 1.3rem; */
  padding: 1.5rem;
  color: var(--back-color);
  background-color: var(--color05);
}

/* ESTILIZAÇÃO DO ITEM DO MENU QUE TEM LOGO */
.nav-item #logotipo {
  height: 14vh;
  padding-top: 1vh;
}

/* ALINHAMENTO DA TAG H1 NO CENTRO DA PÁGINA E DEFINIÇÃO DA FONTE NO TAMANHO DEFAULT */
h1 {
  width: 100vw;
  text-align: center;
  padding: 2%;
  font-size: 2em;
}

/* ALINHAMENTO DA IMAGEM COM FLOAT A ESQUERDA, PARA POSSIBILITAR QUE O CONTEÚDO ESCRITO FIQUE A DIREITA */
#imagem-index {
  padding: 0 3% 3% 3%;
  float: left;
}

/* DEFINIÇÃO DO TAMANHO DA IMAGEM COMO 30 VIEWPORT WIDTH */
#imagem-index img {
  width: 30vw;
}

/* ESTILIZAÇÃO PARA TER O ESPAÇAMENTO DO PARÁGRAFO E NÃO FICAR COLADO COM A IMAGEM */
.conteudo-index .paragrafo {
  padding: 2rem 2rem 0 0;
  text-indent: 2rem;
  text-align: justify;
  font-size: 1.2rem;
}

/* ESTILIZAÇÃO DA LISTA PARA NÃO FICAR ALINHADA COM O RESTO DO CONTEÚDO, DANDO UM DESTAQUE PARA AS INFORMAÇÕES */
.paragrafo li {
  /* margin-left: 6rem; */
  padding: 0 2rem 1rem 0;
}

/* ESTILIZAÇÃO DA TAG H2 PARA FICAR CENTRALIZADO E A PROPRIEDADE CLEAR PARA QUE O RESTO DO CONTEÚDO NÃO SEJA AFETADO PELO FLOAT ACIMA */
.titulo-h2 {
  clear: both;
  width: 100vw;
  text-align: center;
  padding: 2%;
  font-size: 1.5em;
}

/* ESTILIZAÇÃO DO CONTEÚDO ESCRITO DA SEGUNDA SEÇÃO, PARA NÃO FICAR COLADO A MARGEM */
.chamada-parceiros .paragrafo {
  padding: 1rem;
  text-indent: 2rem;
  text-align: justify;
  font-size: 1.2rem;
}

.chamada-parceiros :nth-last-child(1) {
  text-align: center;
}

/* ESTILIZAÇÃO DO RODAPÉ COMO DISPLAY FLEX, O QUE POSSIBILITA A DIVISÃO DO CONTEÚDO EM TRES COLUNAS DIFERENTES. CADA UMA COM SEU TAMANHO DEFINIDO PELO CONTEÚDO */
.footer.container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

/* DFINIÇÃO DO TAMANHO DA TAG ADDRESS E ESPAÇAMENTO ENTRE LINHAS */
.footer address {
  width: 60vw;
  line-height: 2rem;
}

/* DEFINIÇÃO DE LINHA SUBLINHADA PARA TODA TAG P NO FOOTER */
.footer .paragrafo {
  font-size: 1.2rem;
  text-decoration: underline;
}

/* CHAMADA DA IMAGEM QUE SIMBOLIZA O ÍCONE E LINK PARA O INSTAGRAM */
.footer #instagram {
  align-items: center;
  width: 4vw;
  background-image: url('../img/instagram.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

/* CHAMADA DA IMAGEM QUE SIMBOLIZA O ÍCONE E LINK PARA O FACEBOOK */
.footer #facebook {
  align-items: center;
  width: 4vw;
  background-image: url('../img/facebook.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
